{% extends 'front/layout/default.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="list-group">
                {% for place in places %}
                    <a href="#" class="list-group-item">
                        <span class="badge badge-primary badge-pill">{{ loop.index }}</span> {{ place.venue.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
